@use "../../../../assets/styles/variable.scss" as *;

.mainCss {
  margin: $lyMargin 0;
  padding: $lyPadding $lyMargin;
}

@media (max-width: 1440px) {
  .mainCss {
    padding: 48px 16px;
    width: auto;
  }
}
