@charset "UTF-8";

// variable
@import "variable.scss";

/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.has-scroll-smooth {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.horizontal-scroll {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
}

.pin-wrap {
    height: 100vh;
    min-height: 820px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //padding: 50px 10vw;
}
.pin-wrap > * {
    min-width: 100vw;
    padding: 0 5vw;
    box-sizing: border-box;
}

/* common */
.loading {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 999999;
    &__line {
        display: block;
        width: 100%;
        max-width: 260px;
        height: 6px;
        background: #e1e4e8;
        border-radius: 3px;
        overflow: hidden;
    }
    &__bar {
        display: block;
        height: 100%;
        background: linear-gradient(
            90deg,
            #ffd33d,
            #ea4aaa 17%,
            #b34bff 34%,
            #01feff 51%,
            #ffd33d 68%,
            #ea4aaa 85%,
            #b34bff
        );
        background-size: 300% 100%;
        -webkit-animation: progress-animation 2s linear infinite;
        animation: progress-animation 2s linear infinite;
    }
    &__text {
    }
}

@-webkit-keyframes progress-animation {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}

@keyframes progress-animation {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    height: 100vh;
    display: inline-block;
    background: #dbdbdb;
    z-index: 999999;
    /* display: none; */
}
.loader svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.loader svg path,
svg rect {
    fill: #e95c43;
}
.loader-text {
    font-size: 18px;
    font-weight: bold;
    color: #e95c43;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 200%);
    line-height: 1;
}

.skipToMain {
    display: block;
    margin-bottom: -1px;
    height: 1px;
    text-align: center;
    overflow: hidden;

    &:focus {
        height: auto;
        margin-bottom: 0;
    }
}

.screenHide {
    position: absolute;
    width: 1px;
    height: 1px;
    line-height: 1px;
    border: 0;
    clip: rect(1px, 1px, 1px 1px);
    overflow: hidden;
}

.in {
    width: $in;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;
}

.goTop {
    position: fixed;
    bottom: 56px;
    right: 24px;
    width: 36px;
    height: 36px;
    z-index: 99999;
}

.goDown {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 36px;
    height: 36px;
    z-index: 99999;
}

/* header */
.header {
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 99999;

    &Logo {
        &__link {
            display: inline-flex;
            align-items: flex-end;
        }

        &__icon {
            position: relative;
            display: block;
            width: 64px;
            height: 64px;
            background: $black222;
            border-radius: 8px;
        }

        &__icon .mouth {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            width: 30px;
            height: 30px;
            background: $whiteFff;
            border-radius: 50%;
            transform: rotate(0);
            animation: visMouse 5s ease-in 1s infinite;
        }

        &__icon .mouth::before {
            content: "";
            position: relative;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 50%;
            background: $black222;
        }

        &__text {
            position: relative;
            display: block;
            margin-left: 26px;
            font-family: $fontSec;
            font-size: $fontSizLv6;
            line-height: $lineHei100;
            color: $black222;
        }

        &__text::before {
            content: "";
            position: absolute;
            left: -18px;
            bottom: 0;
            width: 10px;
            height: 10px;
            background: $black222;
            border-radius: 50%;
        }
    }
}

@keyframes visMouse {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* scrollGage */
.scrollGage {
    position: fixed;
    top: 24px;
    right: 64px;

    &__percent {
        display: block;
        font-size: 16px;
    }

    &__bar {
        display: block;
        height: 16px;
        background: #ddd;
    }
}

/* nav, gnb */
.nav {
    position: fixed;
    left: 0;
    top: 0;

    &__btn--open {
        position: fixed;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    &__btn--open::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 5px;
        width: 30px;
        height: 3px;
        background: $black222;
        box-shadow: 0 10px 0 $black222, 0 20px 0 $black222;
    }
}

/* footer */
.footer {
    position: relative;
    padding: 0 0 $lyPadding 0;
    background: linear-gradient(180deg, $colPoint6, $colPoint5);
    overflow: hidden;

    &__sbj {
        display: block;
        font-weight: bold;
        font-style: italic;
        font-family: $fontSec;
        font-size: $titSizSec;
        line-height: $lineHeiLv3;
        color: $whiteFff;
        white-space: nowrap;
        will-change: transform;
        animation: moving 30s linear infinite;
    }

    &__info {
        margin: 5vh 5vw 192px 5vw;
        & .list {
            &__item {
                margin: 16px;
                font-family: $fontSec;
                font-size: $fontSizLv5;
                line-height: $lineHei100;
                color: $whiteFff;
            }

            &__tit {
                margin-right: 52px;
            }
        }
    }
}

@keyframes moving {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
