@charset "UTF-8";
@import "variable";

.visual {
    .in {
        position: relative;
    }

    &__tit {
        position: absolute;
        top: $lyPadding;
        left: $lyMargin;
        z-index: 1;

        & h2 {
            margin-bottom: 16px;
            font-family: $fontSec;
            font-size: 40px;
            line-height: $lineHeiLv3;
            color: $fontColFir;
        }

        &--move {
            display: inline-block;
            padding: 0 24px;
            height: 40px;
            font-family: $fontSec;
            font-size: 16px;
            line-height: 40px;
            color: $whiteFff;
            background: #2ea34e;
            border-radius: 40px;
        }
    }

    &__sbj {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        min-height: $lyMinHeight;
        font-weight: bold;
        font-style: italic;
        font-family: $fontSec;
        font-size: $fontSizLv1;
        line-height: $lineHeiLv0;
        color: $fontColFir;
        text-transform: uppercase;
        white-space: nowrap;
        transform: rotate(-6deg);
        overflow: hidden;

        &--move span {
            position: relative;
            display: inline-block;
            padding: 0 2.5vw;
        }

        &--move span:hover {
            color: $black222;
        }

        &--move span::before {
            content: "";
            position: absolute;
            left: 2%;
            bottom: -5%;
            width: 11%;
            height: 50%;
            background: $colPoint5;
            transform: rotate(-10deg);
            opacity: 0.3;
            z-index: -1;
            transition: 0.3s;
        }

        &--move span::after {
            content: "";
            position: absolute;
            right: 1%;
            bottom: -5%;
            width: 45%;
            height: 50%;
            background-color: $greyDdd;
            opacity: 0.5;
            z-index: -1;
            transition: 0.3s;
        }

        &--move span:hover::before {
            content: "";
            transform: rotate(10deg);
            background: $colPoint5;
            opacity: 0.5;
        }

        &--move span:hover::after {
            content: "";
            width: 86%;
            opacity: 0.8;
        }
    }

    &__emoji {
        position: relative;
        margin: -30% 0 0 auto;
        width: $in;
        height: 1073px;
        z-index: -1;

        & img {
            max-width: 100%;
        }

        &Bg,
        &Item {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

        &Item {
            z-index: 1;
        }

        &Bg > span,
        &Item > span {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.main {
    overflow: hidden;
}

.mainCate {
    padding: $lyPadding 0;
    overflow-x: hidden;

    &__tit {
        margin-bottom: $lyMargin;
        font-family: $fontThi;
        font-weight: 600;
        font-size: $fontSizLv1;
        line-height: $lineHeiLv3;
        color: $fontColFir;
        text-align: center;

        & .highlight {
            color: $colPoint4;
        }
    }

    &__listWrap {
        display: flex;
        width: 100vw;
        max-width: $in;
        margin: 0 auto;
    }

    & .list {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-gap: $lyGap;
        white-space: nowrap;

        &__item {
            position: relative;
            aspect-ratio: 67 / 100;
            width: 25vw;
            min-width: 300px;
            height: 100%;
            border-radius: $lyRadius;
            overflow: hidden;
            & img {
                width: 100%;
                height: auto;
            }
        }

        &__icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            & img {
                width: 100%;
                height: auto;
            }
        }

        &__tit {
            position: absolute;
            bottom: 8vw;
            width: 100%;
            text-align: center;
            font-size: 2.5vw;
            line-height: 1.2em;
            z-index: 2;
        }

        &__thumb {
            display: block;
            filter: brightness(0.6);
            & img {
                display: block;
            }
        }

        &__item:nth-child(5n-4) .list__tit {
            color: $colPoint1;
        }

        &__item:nth-child(5n-3) .list__tit {
            color: $colPoint2;
        }

        &__item:nth-child(5n-2) .list__tit {
            color: $colPoint3;
        }

        &__item:nth-child(5n-1) .list__tit {
            color: $colPoint4;
        }

        &__item:nth-child(5n) .list__tit {
            color: $colPoint5;
        }
    }
}

.mainSite {
    margin: $lyPadding 0;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__tit {
        position: relative;
        text-align: right;
        font-family: $font__third;
        font-size: $fontSizLv1;
        line-height: $lineHeiLv3;
        color: $whiteFff;

        &Img {
            position: absolute;
            right: 0;
            bottom: -60%;
            width: 21vw;
            z-index: -1;
            & img {
                width: 100%;
            }
        }
    }

    &__emoji {
        position: relative;
        margin: 0 0 -30vh -5vw;
        width: $in;
        height: 910px;
        z-index: -1;

        & img {
            width: 100%;
        }

        &Circle,
        &Icon,
        &Dot,
        &Bg {
            position: relative;
        }

        &Circle > span,
        &Icon > span,
        &Dot > span,
        &Bg > span {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    & .list {
        &__contents {
            position: relative;
        }

        &__item {
            display: flex;
            justify-content: center;
        }

        &__info {
            margin-bottom: 32px;
        }

        &__num {
            position: absolute;
            top: -16px;
            left: -5vw;
            font-weight: bold;
            font-style: italic;
            font-family: $font__second;
            font-size: $fontSizLv1;
            line-height: $lineHeiLv0;
            color: $whiteFff;
            opacity: 0.3;
        }

        &__tit {
            display: block;
            margin-bottom: 16px;
            font-weight: bold;
            font-style: italic;
            font-family: $fontSec;
            font-size: $fontSizLv1;
            line-height: $lineHeiLv0;
            color: $whiteFff;
        }

        &__desc {
            font-size: $fontSizLv5;
            color: $whiteFff;
        }

        &__view {
            position: absolute;
            right: -5vw;
            bottom: 2vw;
            width: 160px;
            height: 160px;
            text-align: center;
            background: linear-gradient(-45deg, #f06b67, #ffe30d, #41e0eb, #89de07);
            background-size: 400% 400%;
            border-radius: 50%;
            box-shadow: inset 4px 4px 16px rgba(0, 0, 0, 0.2), 4px 4px 16px rgba(0, 0, 0, 0.2);
            animation: gradient 8s ease infinite;

            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 0px;
                height: 100%;
            }

            > span {
                display: inline-block;
                vertical-align: middle;
                font-weight: bold;
                font-style: italic;
                font-family: $fontSizLv1;
                font-size: $lyGap;
            }
        }

        &__thumb {
            position: relative;
            display: block;
            overflow: hidden;
        }

        &__img {
            display: block;
            width: 100%;
            height: auto;
            transition: 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.mainBanner {
    position: relative;
    margin: $lyPadding 0;
    width: 100%;
    img {
        width: 100%;
        max-width: 1440px;
    }
    &__item {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
    }
    &__bg {
        display: block;
        width: 100%;
        text-align: center;
        filter: blur(25px);
        opacity: 0.3;
    }
}

.mainCode {
    padding: $lyPadding 0;

    &__tit {
        margin-bottom: $lyMargin;
        text-align: center;
        font-family: $fontThi;
        font-size: $fontSizLv1;
        line-height: $lineHeiLv3;
        color: $fontColFir;
    }

    & .list {
        display: grid;
        grid-template-columns: repeat(3, 336px);
        grid-auto-rows: 336px;
        grid-gap: $lyGap;
        grid-template-areas:
            "a a b d"
            "a a c d"
            "e f f g"
            "e h i i";
        width: $in;
        margin: 0 auto;

        &__item {
            position: relative;
            border-radius: $lyRadius;
            overflow: hidden;
        }

        &__tit {
            position: absolute;
            left: 36px;
            top: 36px;
            font-family: $fontSec;
            font-size: $fontSizLv3;
            line-height: $lineHeiLv3;
            color: $whiteFff;
            z-index: 1;
        }

        &__cate {
            position: absolute;
            left: 36px;
            bottom: 36px;
            font-family: $fontSec;
            font-size: $txtSizeLv3;
            line-height: $lineHeiLv0;
            color: $whiteFff;
            z-index: 1;
        }

        &__item {
            &.item01 {
                grid-area: a;
            }

            &.item02 {
                grid-area: b;
            }

            &.item03 {
                grid-area: c;
            }

            &.item04 {
                grid-area: d;
            }

            &.item05 {
                grid-area: e;
            }

            &.item06 {
                grid-area: f;
            }

            &.item07 {
                grid-area: g;
            }

            &.item08 {
                grid-area: h;
            }

            &.item08 {
                grid-area: i;
            }
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s;
        }

        &__img:hover {
            transform: scale(1.1);
        }
    }
}

.mainCard {
    width: $in;
    margin: 0 auto;
    padding: $lyPadding 0;

    &__tit {
        margin-bottom: $lyMargin;
        text-align: center;
        font-family: $fontThi;
        font-size: $fontSizLv1;
        line-height: $lineHeiLv3;
        color: $fontColFir;
    }

    & .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: $lyGap;
        &__item {
            flex-basis: calc(50% - 24px);
            padding: 36px;
            text-align: center;
            background: $whiteFff;
            border-radius: $lyRadius;
            box-sizing: border-box;
        }

        &__tit {
            display: block;
            margin: 16px 0;
            font-family: $fontSec;
            font-size: $fontSizLv3;
            line-height: $lineHeiLv3;
            color: $fontColFir;
        }

        &__desc {
            font-size: $txtSizeLv4;
            line-height: $lineHeiLv2;
            color: $fontColSec;
        }

        &__thumb {
            margin: 0 auto;
            padding: $lyGap;

            width: auto;
            height: 400px;
            text-align: center;
            border-radius: $lyRadius;
            box-sizing: border-box;
            overflow: hidden;

            img {
                width: auto;
                height: 100%;
            }
        }
    }
}

.mainProfile {
    position: relative;
    padding: $lyPadding 0 0 0;
    &__svg {
        width: 100%;
        height: 100%;
        overflow: visible;
        z-index: 2;

        & path {
            stroke: rgba(255, 255, 255, 0.5);
        }
        & textPath {
            position: relative;
            font-family: $fontSec;
            font-size: $lineHeiLv1;
            font-weight: bold;
            color: $colPoint6;
            filter: currentColor;
        }
    }

    &__thumb {
        display: block;
        width: 40vw;
        margin: 5vh 5vw 0 auto;

        img {
            width: 100%;
        }
    }
}
