@charset "UTF-8";
@import "variable";

.visual {
    .in {
        position: relative;
    }

    &__tit {
        position: absolute;
        top: $lyPadding;
        left: $lyMargin;
        z-index: 1;

        & h2 {
            margin-bottom: 16px;
            font-family: $fontSec;
            font-size: 40px;
            line-height: $lineHeiLv3;
            color: $fontColFir;
        }

        &--move {
            display: inline-block;
            padding: 0 24px;
            height: 40px;
            font-family: $fontSec;
            font-size: 16px;
            line-height: 40px;
            color: $whiteFff;
            background: #2ea34e;
            border-radius: 40px;
        }
    }

    &__sbj {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        min-height: $lyMinHeight;
        font-weight: bold;
        font-style: italic;
        font-family: $fontSec;
        font-size: $fontSizLv1;
        line-height: $lineHeiLv0;
        color: $fontColFir;
        text-transform: uppercase;
        white-space: nowrap;
        transform: rotate(-6deg);

        &--move span {
            position: relative;
            display: inline-block;
            padding: 0 2.5vw;
        }

        &--move span:hover {
            color: $black222;
        }

        &--move span::before {
            content: "";
            position: absolute;
            left: 2%;
            bottom: -5%;
            width: 11%;
            height: 50%;
            background: $colPoint5;
            transform: rotate(-10deg);
            opacity: 0.3;
            z-index: -1;
            transition: 0.3s;
        }

        &--move span::after {
            content: "";
            position: absolute;
            right: 1%;
            bottom: -5%;
            width: 45%;
            height: 50%;
            background-color: $greyDdd;
            opacity: 0.5;
            z-index: -1;
            transition: 0.3s;
        }

        &--move span:hover::before {
            content: "";
            transform: rotate(10deg);
            background: $colPoint5;
            opacity: 0.5;
        }

        &--move span:hover::after {
            content: "";
            width: 86%;
            opacity: 0.8;
        }
    }

    &__emoji {
        position: relative;
        margin: -30% 0 0 auto;
        width: $in;
        height: 1073px;
        z-index: -1;

        & img {
            max-width: 100%;
        }

        &Bg,
        &Item {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

        &Item {
            z-index: 1;
        }

        &Bg > span,
        &Item > span {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.main {
    overflow: hidden;
}

.mainCate {
    padding: $lyPadding 0;
    overflow-x: hidden;

    &__tit {
        margin-bottom: $lyMargin;
        font-family: $fontThi;
        font-weight: 600;
        font-size: $fontSizLv1;
        line-height: $lineHeiLv3;
        color: $fontColFir;
        text-align: center;

        & .highlight {
            color: $colPoint4;
        }
    }

    &__listWrap {
        display: flex;
        width: 100vw;
        max-width: $in;
        margin: 0 auto;
    }

    & .list {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-gap: $lyGap;
        white-space: nowrap;

        &__item {
            position: relative;
            aspect-ratio: 67 / 100;
            width: 25vw;
            min-width: 300px;
            height: 100%;
            border-radius: $lyRadius;
            overflow: hidden;
            & img {
                width: 100%;
                height: auto;
            }
        }

        &__icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            & img {
                width: 100%;
                height: auto;
            }
        }

        &__tit {
            position: absolute;
            bottom: 8vw;
            width: 100%;
            text-align: center;
            font-size: 2.5vw;
            line-height: 1.2em;
            z-index: 2;
        }

        &__thumb {
            display: block;
            filter: brightness(0.6);
            & img {
                display: block;
            }
        }

        &__item:nth-child(5n-4) .list__tit {
            color: $colPoint1;
        }

        &__item:nth-child(5n-3) .list__tit {
            color: $colPoint2;
        }

        &__item:nth-child(5n-2) .list__tit {
            color: $colPoint3;
        }

        &__item:nth-child(5n-1) .list__tit {
            color: $colPoint4;
        }

        &__item:nth-child(5n) .list__tit {
            color: $colPoint5;
        }
    }
}

.mainFront {
    padding: $lyMargin $lyPadding;

    &__tit {
        margin-bottom: $lyMargin;
        font-family: $font__third;
        font-size: $titSizFir;
        color: #310591;
    }

    & .list {
        &__item {
            position: relative;
            display: flex;
            align-items: center;
            margin: 96px 0;
            background-color: $whiteFff;
            border-radius: $lyRadius;
            box-shadow: inset 4px 4px 20px 5px rgba(0, 0, 0, 0.02), -4px -4px 20px 4px rgba(0, 0, 0, 0.02);
            overflow: hidden;

            &::before {
                top: 20px;
                left: -20px;
            }

            &::after {
                bottom: 0;
                right: -20px;
            }
        }

        &__thumb {
            position: relative;
            font-size: 0px;
            width: 70%;
            overflow: hidden;

            & img {
                width: 100%;
                height: auto;
                transition: 0.3s;
            }
        }

        &__info {
            padding: 48px;
            width: 40%;
        }

        &__cate {
            position: relative;
            display: block;
            margin-bottom: 8px;
            font-family: $font__second;
            font-size: $txtSizeLv4;
            font-weight: 500;
            color: $fontColSec;

            &::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 4px;
                width: 32px;
                height: 32px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
            }

            &.cate {
                &--react::before {
                    background-image: url("../img/icon_react.png");
                }

                &--vue::before {
                    background-image: url("../img/icon_vue.png");
                }
                &--php::before {
                    background-image: url("../img/icon_php.png");
                }
            }
        }

        &__tit {
            display: block;
            margin-bottom: 24px;
            font-family: $font__second;
            font-size: $txtSizeLv1;
            line-height: $lineHeiLv0;
            color: $fontColFir;
        }

        &__desc {
            font-size: $txtSizeLv4;
            color: $fontColSec;
        }

        &__type {
            margin-top: 48px;
            margin-left: -4px;
            font-size: 0px;
            &Link {
                display: inline-block;
                vertical-align: middle;
                margin: 4px;
                padding: 12px 24px;
                font-family: $font__second;
                font-size: $txtSizeLv4;
                line-height: $lineHeiLv0;
                background-color: $whiteFff;
                border: 1px solid #ddd;
                border-radius: 36px;
            }
        }
    }

    & .list__item:hover {
        & .list {
            &__thumb {
                & img {
                    transform: scale(1.05);
                }
            }
        }
    }

    & .list__typeLink:hover {
        color: #fff;
        background-color: #310591;
    }
}

.mainSite {
    margin: $lyPadding 0;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__tit {
        position: relative;
        text-align: right;
        font-family: $font__third;
        font-size: $fontSizLv1;
        line-height: $lineHeiLv3;
        color: $whiteFff;

        &Img {
            position: absolute;
            right: 0;
            bottom: -60%;
            width: 21vw;
            z-index: -1;
            & img {
                width: 100%;
            }
        }
    }

    &__emoji {
        position: relative;
        margin: 0 0 -30vh -5vw;
        width: $in;
        height: 910px;
        z-index: -1;

        & img {
            width: 100%;
        }

        &Circle,
        &Icon,
        &Dot,
        &Bg {
            position: relative;
        }

        &Circle > span,
        &Icon > span,
        &Dot > span,
        &Bg > span {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    & .list {
        &__contents {
            position: relative;
        }

        &__item {
            position: relative;
            display: flex;
        }

        &__info {
            margin-right: 48px;
            min-width: 400px;
        }

        &__num {
            font-weight: bold;
            font-style: italic;
            font-family: $font__second;
            font-size: $fontSizLv1;
            line-height: $lineHeiLv0;
            color: $whiteFff;
            opacity: 0.3;
            z-index: -1;
        }

        &__tit {
            display: block;
            margin-bottom: 16px;
            font-weight: bold;
            font-style: italic;
            font-family: $fontSec;
            font-size: $fontSizLv3;
            line-height: $lineHeiLv0;
            color: $whiteFff;
        }

        &__desc {
            font-size: $fontSizLv5;
            color: $whiteFff;
        }

        &__thumb {
            position: relative;
            display: block;
            overflow: hidden;
            width: 60vw;
            font-size: 0px;

            & a::after {
                content: "";
                position: absolute;
                top: 24px;
                right: 24px;
                bottom: 24px;
                left: 24px;
                background: rgba(255, 255, 255, 0.5) url(../img/icon_more2.png) no-repeat 50% 50%;
                background-size: 20% auto;
                transition: all 0.4s ease-in-out;
                transform: rotate3d(1, -1, 0, 100deg);
                opacity: 0;
                z-index: 1;
            }
        }

        &__img {
            display: block;
            width: 100%;
            height: auto;
            transition: 0.3s;
        }
    }

    & .list {
        &__item:hover {
            & .list {
                &__thumb:hover {
                    & a::after {
                        transform: rotate3d(0, 0, 0, 0deg);
                        opacity: 0.9;
                    }

                    & img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.mainChat {
    margin: $lyPadding auto;
    max-width: 860px;

    & .item {
        font-family: $fontThi;
        font-weight: bold;
        font-size: 64px;

        &__chat {
            position: relative;
            display: inline-block;
            padding: 24px 48px;
            background-color: $whiteF1f;
            border-radius: 16px;
            box-shadow: 8px 8px 0px #ffd3d3;

            &::after {
                content: "";
                position: absolute;
                bottom: -23px;
                border-left: 24px solid transparent;
                border-top: 24px solid $whiteF1f;
                border-right: 24px solid transparent;
                border-bottom: 0px solid transparent;
            }
        }

        &:nth-child(odd) {
            & .item__chat::after {
                left: 36px;
            }
        }

        &:nth-child(even) {
            text-align: right;
            & .item__chat::after {
                right: 36px;
            }
        }

        &02,
        &05,
        &06 {
            & .item__chat {
                color: $whiteF5f;
                background: #097abf;
                &::after {
                    border-top-color: #097abf;
                }
            }
        }

        &03,
        &10 {
            & .item__chat {
                color: $whiteF5f;
                background: #ff6464;
                &::after {
                    border-top-color: #ff6464;
                }
            }
        }

        &03,
        &04,
        &07 {
            & .item__chat {
                margin-left: 10%;
            }
        }

        &06 {
            & .item__chat {
                margin-right: 10%;
            }
        }

        &05,
        &08 {
            & .item__chat {
                margin-left: -10%;
            }
        }

        &02,
        &10 {
            & .item__chat {
                margin-right: -10%;
            }
        }
    }
}

.mainProject {
    padding: $lyPadding 0;
    &__header {
        margin-bottom: $lyMargin;
        & h2 {
            font-family: $fontThi;
            font-size: $titSizThr;
            color: $fontColSec;
            text-align: center;

            & .highlight {
                position: relative;
                color: $colPoint3;

                & img {
                    position: absolute;
                    right: -48px;
                    top: -24px;
                }
            }
        }
    }

    .list {
        &__item {
            display: flex;
            align-content: flex-start;
        }

        &__header {
            width: 360px;
        }

        &__num {
            font-family: $fontSec;
        }

        &__tit {
            font-size: $txtSizeLv4;
            font-weight: normal;
        }

        &__cate {
            &::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 28px;
                height: 28px;
                margin-right: 4px;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &.react::before {
                background-image: url(../img/icon_react.png);
            }
            &.vue::before {
                background-image: url(../img/icon_vue.png);
            }
            &.php::before {
                background-image: url(../img/icon_php.png);
            }
        }

        &__thumb {
            width: calc(100% - 360px);

            & img {
                width: 100%;
                height: auto;
                transition: 0.3s;
                object-fit: cover;
            }
        }

        &__thumb:hover {
            & img {
                transform: scale(1.05);
            }
        }
    }
}

.mainBanner {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: $lyPadding $lyMargin;
    text-align: center;

    img {
        width: 80%;
        height: auto;
    }

    &__bg {
    }

    &__emoji > span {
        position: absolute;
        left: 0;
        bottom: 0px;
    }
}

.mainCode {
    margin: $lyMargin 0;
    padding: $lyPadding $lyMargin;

    &__tit {
        position: relative;
        margin-bottom: $lyMargin;
        font-family: $fontThi;
        font-size: $titSizThr;
        color: $fontColFir;
        text-align: center;

        & .highlight {
            position: relative;
            & img {
                position: absolute;
                top: -24px;
                right: 0;
                width: 100%;
                z-index: -1;
            }
        }
    }

    & .list {
        display: grid;
        //grid-template-columns: repeat(1, 336px);
        //grid-auto-rows: 336px;
        grid-gap: $lyGap;
        grid-template-areas:
            "a a b b"
            "a a b b"
            "e f f g"
            "e h i i";

        &__item {
            position: relative;
            border-radius: $lyRadius;
            overflow: hidden;
        }

        &__tit {
            position: absolute;
            left: 36px;
            top: 36px;
            font-family: $fontSec;
            font-size: $fontSizLv3;
            line-height: $lineHeiLv3;
            color: $whiteFff;
            z-index: 1;
        }

        &__cate {
            position: absolute;
            left: 36px;
            bottom: 36px;
            font-family: $fontSec;
            font-size: $txtSizeLv3;
            line-height: $lineHeiLv0;
            color: $whiteFff;
            z-index: 1;
        }

        &__desc {
            position: absolute;
            left: 36px;
            bottom: 96px;
            font-size: $txtSizeLv4;
            color: $whiteFff;
            z-index: 1;
        }

        &__thumb {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: $lyRadius;
            overflow: hidden;
            isolation: isolate;
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s;
        }

        &__link {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
        }

        &__item:hover {
            & .list__img {
                transform: scale(1.1);
            }
        }

        &__item {
            &.item01 {
                grid-area: a;
            }

            &.item02 {
                grid-area: b;
            }
            /*
            &.item03 {
                grid-area: c;
            }

            &.item04 {
                grid-area: d;
            }
            */

            &.item05 {
                grid-area: e;
            }

            &.item06 {
                grid-area: f;
            }

            &.item07 {
                grid-area: g;
            }

            &.item08 {
                grid-area: h;
            }

            &.item09 {
                grid-area: i;
            }
        }
    }
}

.mainCss {
    margin: $lyMargin 0;
    padding: $lyPadding $lyMargin;

    &__tit {
        margin-bottom: $lyMargin;
        position: relative;
        font-family: $fontThi;
        font-size: $titSizThr;
        color: $fontColFir;
        text-align: center;

        & img {
            position: absolute;
            top: -24px;
            z-index: -1;
        }

        & .highlight {
            position: relative;
            margin-left: 16px;
            padding: 0 16px;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 24px;
                background-color: $colPoint2;
                z-index: -1;
            }
        }
    }

    & .list {
        &__item {
            position: relative;
            display: flex;
            margin: 48px 0;
            text-align: center;
            background: $whiteFff;
            border-radius: $lyRadius;
            box-sizing: border-box;
        }

        &__link {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
        }

        &__tit {
            position: relative;
            display: inline-block;
            margin-bottom: 16px;
            font-family: $fontSec;
            font-size: $fontSizLv4;
            line-height: $lineHeiLv3;
            color: $fontColFir;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 50%;
                background: $colPoint2;
                transition: width 0.3s;
                z-index: -1;
            }
        }

        &__desc {
            font-size: $txtSizeLv4;
            line-height: $lineHeiLv2;
            color: $fontColSec;
        }

        &__thumb {
            position: relative;
            width: 60%;
            height: 0px;
            padding-bottom: 33%;
            border-radius: $lyRadius;
            box-shadow: 5px 4px 14px #dddddd45;
            box-sizing: border-box;
            overflow: hidden;

            &Gif {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-position: 50% 50%;
                background-size: 200%;
            }

            img {
                width: auto;
                height: 100%;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 24px;
            width: 40%;
            border-radius: $lyRadius;
            background: $whiteFff;
            box-sizing: border-box;
            transition: 0.3s;
        }

        &__item:hover {
            & .list__info {
                box-shadow: -5px -3px 4px 3px #dddddd47;
                transform: scale(1.05);
            }
        }
    }
}

.mainProfile {
    position: relative;
    padding: $lyPadding 0 0 0;
    &__svg {
        width: 100%;
        height: 100%;
        overflow: visible;
        z-index: 2;

        & path {
            stroke: rgba(255, 255, 255, 0.5);
        }
        & textPath {
            position: relative;
            font-family: $fontSec;
            font-size: $lineHeiLv1;
            font-weight: bold;
            color: $colPoint6;
            filter: currentColor;
        }
    }

    &__thumb {
        display: block;
        width: 40vw;
        max-width: 600px;
        min-width: 300px;
        margin: 5vh 5vw 0 auto;

        img {
            width: 100%;
        }
    }
}
