@charset "UTF-8";

// variable
@import "variable";

.visual {
    font-family: $font__second;

    .in {
        position: relative;
    }

    &__tit {
        position: absolute;
        top: 196px;
        left: 96px;
        z-index: 1;

        & h2 {
            margin-bottom: 16px;
            font-size: 40px;
            line-height: 1.2em;
            color: $black222;
        }

        &--move {
            display: inline-block;
            padding: 0 24px;
            height: 40px;
            font-size: 16px;
            line-height: 40px;
            color: $whiteFff;
            background: #2ea34e;
            border-radius: 40px;
        }
    }

    &__sbj {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        min-height: 730px;
        font-weight: bold;
        font-style: italic;
        font-size: 6vw;
        line-height: 1em;
        color: #333;
        text-transform: uppercase;
        white-space: nowrap;
        transform: rotate(-6deg);
        overflow: hidden;

        &--move span {
            position: relative;
            display: inline-block;
            padding: 0 2.5vw;
        }

        &--move span:hover {
            color: $black222;
        }

        &--move span::before {
            content: "";
            position: absolute;
            left: 2%;
            bottom: -5%;
            width: 11%;
            height: 50%;
            background: #ff6488;
            transform: rotate(-10deg);
            opacity: 0.3;
            z-index: -1;
            transition: 0.3s;
        }

        &--move span:hover::before {
            content: "";
            transform: rotate(10deg);
            background: #ff6488;
            opacity: 0.5;
        }
        &--move span::after {
            content: "";
            position: absolute;
            right: 1%;
            bottom: -5%;
            width: 45%;
            height: 50%;
            background-color: $greyDdd;
            opacity: 0.5;
            z-index: -1;
            transition: 0.3s;
        }

        &--move span:hover::after {
            content: "";
            width: 86%;
            opacity: 0.8;
        }
    }

    &__emoji {
        position: relative;
        margin: -30% 0 0 auto;
        width: $in;
        height: 1073px;
        z-index: -1;

        & img {
            max-width: 100%;
        }

        &Bg,
        &Item {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

        &Item {
            z-index: 1;

            .item01 {
            }

            .item02 {
            }

            .item03 {
            }
        }

        &Bg > span,
        &Item > span {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.mainCate {
    padding: 128px 0;
    overflow-x: hidden;

    &__tit {
        margin-bottom: 64px;
        font-family: $font__third;
        font-weight: 600;
        font-size: 6vw;
        line-height: 1.1em;
        color: $black222;
        text-align: center;

        & .highlight {
            color: #4bebc9;
        }
    }

    &__listWrap {
        display: flex;
        width: 100vw;
        max-width: 1400px;
        margin: 0 auto;
    }

    & .list {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-gap: 24px;
        white-space: nowrap;

        &__item {
            position: relative;
            aspect-ratio: 67 / 100;
            width: 24vw;
            min-width: 300px;
            height: 100%;
            border-radius: 32px;
            overflow: hidden;

            & img {
                width: 100%;
                height: auto;
            }
        }

        &__icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;

            & img {
                width: 100%;
                height: auto;
            }
        }

        &__tit {
            position: absolute;
            bottom: 8vw;
            width: 100%;
            text-align: center;
            font-size: 2.5vw;
            line-height: 1.2em;
            z-index: 2;
        }

        &__thumb {
            display: block;
            filter: brightness(0.6);

            & img {
                display: block;
            }
        }

        &__item:nth-child(5n-4) .list__tit {
            color: #d05fe5;
        }

        &__item:nth-child(5n-3) .list__tit {
            color: #ffe30d;
        }

        &__item:nth-child(5n-2) .list__tit {
            color: #89de07;
        }

        &__item:nth-child(5n-1) .list__tit {
            color: #41e0eb;
        }

        &__item:nth-child(5n) .list__tit {
            color: #f06b67;
        }
    }
}

.mainSite {
    margin: 128px 0;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__tit {
        position: relative;
        text-align: right;
        font-family: $font__third;
        font-size: 6vw;
        line-height: 1.2em;
        color: $whiteFff;

        &Img {
            position: absolute;
            right: 0;
            bottom: -60%;
            width: 21vw;
            z-index: -1;

            & img {
                width: 100%;
            }
        }
    }

    &__emoji {
        position: relative;
        margin: 0 0 -5vw -5vw;
        width: $in;
        height: 910px;
        z-index: -1;

        & img {
            width: 100%;
        }

        &Circle,
        &Icon,
        &Dot,
        &Bg {
            position: relative;
        }

        &Circle > span,
        &Icon > span,
        &Dot > span,
        &Bg > span {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    & .list {
        &__contents {
            position: relative;
        }

        &__item {
            display: flex;
            justify-content: center;
        }

        &__info {
            margin-bottom: 32px;
        }

        &__num {
            position: absolute;
            top: -16px;
            left: -5vw;
            font-weight: bold;
            font-style: italic;
            font-family: $font__second;
            font-size: 6vw;
            line-height: 1em;
            color: $whiteFff;
            opacity: 0.3;
        }

        &__tit {
            display: block;
            margin-bottom: 16px;
            font-weight: bold;
            font-style: italic;
            font-family: $font__second;
            font-size: 6vw;
            line-height: 1em;
            color: $whiteFff;
        }

        &__desc {
            font-size: 24px;
            color: $whiteFff;
        }

        &__view {
            position: absolute;
            right: -5vw;
            bottom: 2vw;
            width: 160px;
            height: 160px;
            text-align: center;
            background: linear-gradient(-45deg, #db403a, #fce749, #38dfc6, #68caf3);
            background-size: 400% 400%;
            border-radius: 50%;
            box-shadow: inset 4px 4px 16px rgba(0, 0, 0, 0.2), 4px 4px 16px rgba(0, 0, 0, 0.2);
            animation: gradient 8s ease infinite;

            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 0px;
                height: 100%;
            }

            > span {
                display: inline-block;
                vertical-align: middle;
                font-weight: bold;
                font-style: italic;
                font-family: $font__second;
                font-size: 24px;
            }
        }

        &__thumb {
            position: relative;
            display: block;
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                left: 30px;
                top: 30px;
                right: 30px;
                bottom: 30px;
                clip-path: polygon(
                    0 calc(100% - 1rem),
                    0 100%,
                    1rem 100%,
                    1rem 0,
                    0 0,
                    0 1rem,
                    100% 1rem,
                    100% 0,
                    calc(100% - 1rem) 0,
                    calc(100% - 1rem) 100%,
                    100% 100%,
                    100% calc(100% - 1rem)
                );
            }
        }

        &__img {
            display: block;
            width: 100%;
            height: auto;
            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.mainBanner {
    position: relative;
    width: 100%;
    img {
        width: 100%;
    }
    &__item {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    &__bg {
        filter: blur(25px);
        opacity: 0.4;
    }
}

.mainCode {
    padding: 128px 0;

    &__tit {
        margin-bottom: 96px;
        text-align: center;
        font-size: 6vw;
        line-height: 1.2em;
        color: $black222;
    }

    & .list {
        display: grid;
        grid-template-columns: repeat(3, 336px);
        grid-auto-rows: 336px;
        grid-gap: 24px;
        grid-template-areas:
            "a a b d"
            "a a c d"
            "e f f g"
            "e h i i";
        width: $in;
        margin: 0 auto;

        &__item {
            position: relative;
            border-radius: 32px;
            overflow: hidden;
        }

        &__tit {
            position: absolute;
            left: 48px;
            top: 48px;
            font-family: $font__second;
            font-size: 48px;
            line-height: 1.2em;
            color: $whiteFff;
            z-index: 1;
        }

        &__cate {
            position: absolute;
            left: 48px;
            bottom: 48px;
            font-family: $font__second;
            font-size: 24px;
            line-height: 1em;
            color: $whiteFff;
            z-index: 1;
        }

        &__item {
            &.item01 {
                grid-area: a;
            }

            &.item02 {
                grid-area: b;
            }

            &.item03 {
                grid-area: c;
            }

            &.item04 {
                grid-area: d;
            }

            &.item05 {
                grid-area: e;
            }

            &.item06 {
                grid-area: f;
            }

            &.item07 {
                grid-area: g;
            }

            &.item08 {
                grid-area: h;
            }

            &.item08 {
                grid-area: i;
            }
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s;
        }

        &__img:hover {
            transform: scale(1.1);
        }
    }
}

.mainProfile {
    position: relative;
    padding: 128px 0;
    & .textWrap {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        overflow: visible;
        z-index: 2;

        & path {
            stroke: rgba(255, 255, 255, 0.5);
        }

        & textPath {
            position: relative;
            font-family: $font__second;
            font-size: 1.5em;
            font-weight: bold;
            color: #ff7896;
            filter: currentColor;
        }
    }

    & .imgWrap {
        width: $in;
        margin: 0 auto;
    }

    & .img {
        position: relative;
        width: 35%;
        margin: 0 0 0 auto;

        &__left {
            z-index: 3;
        }

        &__right {
            top: -100px;
            right: 30%;
            z-index: 1;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

@keyframes marquee {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
