@charset "UTF-8";

// variable
@import "variable";

@media (max-width: 1440px) {
    $in: auto;

    .visual {
        &__emoji {
            margin-left: -2%;
        }
    }

    .mainFront {
        padding: 48px 16px;

        & .list {
            &__item {
                margin: 12px 0;
            }
        }
    }

    .mainCode {
        padding: 48px 16px;

        & .list {
            grid-gap: 12px;
            width: auto;
        }
    }

    .mainBanner {
        padding: 96px 16px;
    }

    .mainCss {
        padding: 48px 16px;
        width: auto;
    }

    .mainProfile {
        & .imgWrap {
            width: auto;
        }
    }
}

@media (max-width: 860px) {
    .header {
        top: 16px;
        left: 16px;

        &Logo {
            &__text {
                margin-left: 16px;
            }

            &__text::before {
                left: -14px;
                width: 8px;
                height: 8px;
            }

            &__icon {
                width: 40px;
                height: 40px;

                & .mouth {
                    margin-top: -10px;
                    margin-left: -10px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .nav {
        &__btn {
            &--open {
                right: 8px;
                top: 12px;
            }
        }
    }

    /* main vis */
    .visual {
        &__tit {
            top: 100px;
            left: 24px;

            & h2 {
                margin-bottom: 8px;
                font-size: 24px;
            }

            &--move {
                padding: 0 16px;
                height: 36px;
                line-height: 36px;
                font-size: 12px;
            }
        }

        &__sbj {
            height: auto;
            min-height: 600px;
            font-size: 36px;
        }

        &__emoji {
            width: auto;
            height: auto;
            padding-bottom: 75%;
        }

        & .circle02,
        .circle05,
        .emoji06 {
            top: -20%;
        }
    }

    /* main cate*/
    .mainCate {
        //padding: 48px 0;

        &__tit {
            margin-bottom: 32px;
            font-size: 52px;
        }

        & .list {
            grid-column-gap: 16px;

            &__item {
                width: 300px;
            }

            &__tit {
                bottom: 110px;
                font-size: 32px;
            }
        }
    }

    .mainFront {
        &__tit {
            font-size: 48px;
        }

        & .list {
            &__item {
                flex-direction: column-reverse;
                align-items: flex-start;
            }

            &__info {
                padding: 24px;
                width: auto;
            }

            &__cate {
                font-size: 16px;
            }

            &__tit {
                font-size: 24px;
            }

            &__desc {
                font-size: 16px;
            }

            &__type {
                &Link {
                    font-size: 14px;
                }
            }

            &__thumb {
                width: auto;
            }
        }
    }

    .mainSite {
        min-height: auto;

        &__tit {
            padding: 0px;
            font-size: 48px;

            &Img {
                width: 177px;
            }
        }

        &__emoji {
            width: 860px;
            height: 360px;
        }

        & .list {
            &__item {
                flex-direction: column;
            }

            &__info {
                margin-right: 0px;
                margin-bottom: 24px;
                min-width: auto;
            }
            &__desc {
                font-size: 16px;
            }

            &__thumb {
                width: 90vw;
            }
        }
    }

    .pin-wrap {
        min-height: auto;
    }

    .mainCode {
        &__tit {
            margin-bottom: 32px;
            font-size: 48px;
        }

        & .list {
            // grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
                "a"
                "b"
                "e"
                "f"
                "h"
                "i";

            &__item {
                height: 360px;
            }

            &__tit {
                top: 24px;
                left: 24px;
                font-size: 24px;
            }

            &__cate {
                left: 24px;
                bottom: 24px;
                font-size: 16px;
            }

            &__item.item07 {
                display: none;
            }
        }
    }

    .mainCss {
        &__tit {
            margin-bottom: 32px;
            font-size: 48px;

            & .highlight {
                margin-left: 0;
                padding: 0;
            }

            & img {
                width: 60px;
            }
        }

        .list {
            &__item {
                flex-direction: column;
            }

            &__thumb {
                width: auto;
                padding-bottom: 56.4%;

                &Gif {
                    background-size: 125%;
                }
            }

            &__info {
                width: auto;
            }

            &__tit {
                font-size: 24px;
            }

            &__desc {
                font-size: 16px;
            }
        }
    }

    .mainProfile {
        padding: 96px 0 0 0;

        &__svg {
            width: 150%;
        }
    }

    .footer {
        padding: 48px 0;
        height: 100vh;
        box-sizing: border-box;

        &__sbj {
            font-size: 48px;
            line-height: 64px;
        }
        &__desc {
            font-size: 18px;
        }

        &__info {
            margin: 16px 24px 96px;

            & .list {
                &__tit {
                    display: block;
                    margin-right: 0px;
                }
                &__item {
                    margin: 8px;
                    font-size: 16px;
                    line-height: 1em;
                }
            }
        }
    }
}

@media (max-width: 320px) {
}
