@charset "UTF-8";

// variable 
$tit__lv1 : 12px;
$tit__lv2 : 12px;
$tit__lv3 : 12px;
$tit__lv4 : 12px;
$tit__lv5 : 12px;
$tit__lv6 : 12px;

$black222 : #222222;
$black555 : #555555;
$whitefff : #ffffff;
$whiteFff : $whitefff;
$greyddd : #dddddd;
$greyDdd : $greyddd;
$greyAaa : #aaaaaa;


$purpleD05: #D05FE5;

$font__first : 'IBM Plex Sans KR';
$font__second: 'Montserrat';
$font__third : 'Fredoka';

$in : 1440px;

