@charset "UTF-8";

// variable 
$fontLv1 : 6vw;
$fontLv2 : 96px;
$fontLv3 : 12px;
$fontLv4 : 12px;
$fontLv5 : 12px;
$fontLv6 : 12px;

$titSizFir : $fontLv1;


$black222 : #222222;
$black555 : #555555;
$whitefff : #ffffff;
$whiteFff : $whitefff;
$greyddd : #dddddd;
$greyDdd : $greyddd;
$greyAaa : #aaaaaa;

$color1 : #D05FE5;



$font__first : 'IBM Plex Sans KR';
$font__second: 'Montserrat';
$font__third : 'Fredoka';

$in : 1440px;

