/* visual */
.visual {
  font-family: "Montserrat";
}
.visual .in {
  position: relative;
}
.visual__tit {
  position: absolute;
  top: 196px;
  left: 96px;
  z-index: 1;
}
.visual__tit h2 {
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 1.2em;
  color: #222222;
}
.visual__tit--move {
  display: inline-block;
  padding: 0 24px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  background: #2EA34E;
  border-radius: 40px;
}
.visual__sbj {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 730px;
  font-weight: bold;
  font-style: italic;
  font-size: 6vw;
  line-height: 1em;
  color: #555555;
  text-transform: uppercase;
  white-space: nowrap;
  transform: rotate(-6deg);
}
.visual__sbj--move span {
  position: relative;
  display: inline-block;
  padding: 0 2.5vw;
}
.visual__sbj--move span:hover {
  color: #222222;
}
.visual__sbj--move span::before {
  content: "";
  position: absolute;
  left: 2%;
  bottom: -5%;
  width: 11%;
  height: 50%;
  background: #FF6488;
  transform: rotate(-10deg);
  opacity: 0.3;
  z-index: -1;
  transition: 0.3s;
}
.visual__sbj--move span:hover::before {
  content: "";
  transform: rotate(10deg);
  background: #FF6488;
  opacity: 0.5;
}
.visual__sbj--move span::after {
  content: "";
  position: absolute;
  right: 1%;
  bottom: -5%;
  width: 45%;
  height: 50%;
  background-color: #dddddd;
  opacity: 0.5;
  z-index: -1;
  transition: 0.3s;
}
.visual__sbj--move span:hover::after {
  content: "";
  width: 86%;
  opacity: 0.8;
}
.visual__emoji {
  position: relative;
  margin: -30% 0 0 auto;
  width: 1440px;
  height: 1073px;
  z-index: -1;
}
.visual__emoji img {
  max-width: 100%;
}
.visual__emojiBg, .visual__emojiItem, .visual__emojiCircle {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.visual__emojiBg > span, .visual__emojiItem > span, .visual__emojiCircle > span {
  position: absolute;
  top: 0;
  right: 0;
}

/* main cate */
.mainCate {
  padding: 96px 0;
  overflow-x: hidden;
}
.mainCate__tit {
  margin-bottom: 64px;
  font-family: "Fredoka";
  font-weight: 600;
  font-size: 6vw;
  line-height: 1.1em;
  color: #222222;
  text-align: center;
}
.mainCate__tit .highlight {
  color: #4BEBC9;
}
.mainCate__listWrap {
  display: flex;
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
}
.mainCate .list {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-gap: 24px;
  white-space: nowrap;
}
.mainCate .list__item {
  position: relative;
  aspect-ratio: 67/100;
  width: 22vw;
  height: 100%;
  border-radius: 32px;
  overflow: hidden;
}
.mainCate .list__item img {
  width: 100%;
  height: auto;
}
.mainCate .list__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mainCate .list__icon img {
  width: 100%;
  height: auto;
}
.mainCate .list__tit {
  position: absolute;
  bottom: 10vw;
  width: 100%;
  font-size: 2.5vw;
  line-height: 1.2em;
  text-align: center;
}
.mainCate .list__item:nth-child(5n-4) .list__tit {
  color: #D05FE5;
}
.mainCate .list__item:nth-child(5n-3) .list__tit {
  color: #FFE30D;
}
.mainCate .list__item:nth-child(5n-2) .list__tit {
  color: #89DE07;
}
.mainCate .list__item:nth-child(5n-1) .list__tit {
  color: #41E0EB;
}
.mainCate .list__item:nth-child(5n) .list__tit {
  color: #F06B67;
}

.mainSite {
  min-height: 820px;
}
.mainSite__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5vw 0;
  margin-right: 96px;
}
.mainSite__tit {
  text-align: right;
  font-family: "Fredoka";
  font-size: 6vw;
  line-height: 1.2em;
  color: #ffffff;
}
.mainSite__emoji {
  position: relative;
  width: 1200px;
  height: 600px;
}
.mainSite__emoji img {
  width: 100%;
}
.mainSite__emojiCircle, .mainSite__emojiIcon, .mainSite__emojiDot, .mainSite__emojiBg {
  position: relative;
}
.mainSite__emojiCircle > span, .mainSite__emojiIcon > span, .mainSite__emojiDot > span, .mainSite__emojiBg > span {
  position: absolute;
  left: 0;
  top: 0;
}
.mainSite .list__item {
  margin: 0 64px;
}
.mainSite .list__contents {
  margin-bottom: 32px;
}
.mainSite .list__desc {
  position: relative;
  padding-left: 160px;
  font-size: 24px;
  color: #ffffff;
}
.mainSite .list__sbj {
  position: absolute;
  left: 0;
}