@use "../../../../assets/styles/variable.scss" as *;

.mainCate {
  & .list {
    &__item {
      position: relative;
      aspect-ratio: 67 / 100;
      width: 25vw;
      min-width: 300px;
      height: 100%;
      border-radius: $lyRadius;
      overflow: hidden;
      & img {
        width: 100%;
        height: auto;
      }
    }

    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      & img {
        width: 100%;
        height: auto;
      }
    }

    &__tit {
      position: absolute;
      bottom: 8vw;
      width: 100%;
      text-align: center;
      font-size: 2.5vw;
      line-height: 1.2em;
      white-space: pre-line;
      z-index: 2;
    }

    &__thumb {
      display: block;
      filter: brightness(0.6);
      & img {
        display: block;
      }
    }

    li:nth-child(5n-4) .list__tit {
      color: $colPoint1;
    }

    li:nth-child(5n-3) .list__tit {
      color: $colPoint2;
    }

    li:nth-child(5n-2) .list__tit {
      color: $colPoint3;
    }

    li:nth-child(5n-1) .list__tit {
      color: $colPoint4;
    }

    li:nth-child(5n) .list__tit {
      color: $colPoint5;
    }
  }
}

@media (max-width: 860px) {
  .mainCate {

    & .list {
      grid-column-gap: 16px;

      &__item {
        width: 300px;
      }

      &__tit {
        bottom: 110px;
        font-size: 32px;
      }
    }
  }
}