@use "../../../../assets/styles/variable.scss" as *;

.mainSite {
  margin: $lyPadding 0;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__tit {
    position: relative;
    text-align: right;
    font-family: $font__third;
    font-size: $fontSizLv1;
    line-height: $lineHeiLv3;
    color: $whiteFff;

    &Img {
      position: absolute;
      right: 0;
      bottom: -60%;
      width: 21vw;
      z-index: -1;
      & img {
        width: 100%;
      }
    }
  }

  &__emoji {
    position: relative;
    margin: 0 0 -30vh -5vw;
    width: $in;
    height: 910px;
    z-index: -1;

    & img {
      width: 100%;
    }

    &Circle,
    &Icon,
    &Dot,
    &Bg {
      position: relative;
    }

    &Circle > span,
    &Icon > span,
    &Dot > span,
    &Bg > span {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

}

@media (max-width: 860px) {
  .mainSite {
    min-height: auto;

    &__tit {
      padding: 0px;
      font-size: 48px;

      &Img {
        width: 177px;
      }
    }

    &__emoji {
      width: 860px;
      height: 360px;
    }
  }

  .pin-wrap {
    min-height: auto;
  }
}