@use "../../../../assets/styles/variable.scss" as *;

.mainSite {
  & .list {
    &__contents {
      position: relative;
    }

    &__item {
      position: relative;
      display: flex;
    }

    &__info {
      margin-right: 48px;
      min-width: 400px;
    }

    &__num {
      font-weight: bold;
      font-style: italic;
      font-family: $font__second;
      font-size: $fontSizLv1;
      line-height: $lineHeiLv0;
      color: $whiteFff;
      opacity: 0.3;
      z-index: -1;
    }

    &__tit {
      display: block;
      margin-bottom: 16px;
      font-weight: bold;
      font-style: italic;
      font-family: $fontSec;
      font-size: $fontSizLv3;
      line-height: $lineHeiLv0;
      color: $whiteFff;
    }

    &__desc {
      font-size: $fontSizLv5;
      color: $whiteFff;
    }

    &__thumb {
      position: relative;
      display: block;
      overflow: hidden;
      width: 60vw;
      font-size: 0px;

      & a::after {
        content: "";
        position: absolute;
        top: 24px;
        right: 24px;
        bottom: 24px;
        left: 24px;
        background: rgba(255, 255, 255, 0.5) url(../../../../assets/images/icon_more2.png) no-repeat 50% 50%;
        background-size: 20% auto;
        transition: all 0.4s ease-in-out;
        transform: rotate3d(1, -1, 0, 100deg);
        opacity: 0;
        z-index: 1;
      }
    }

    &__img {
      display: block;
      width: 100%;
      height: auto;
      transition: 0.3s;
    }
  }

  & .list {
    &__item:hover {
      & .list {
        &__thumb:hover {
          & a::after {
            transform: rotate3d(0, 0, 0, 0deg);
            opacity: 0.9;
          }

          & img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media (max-width: 860px) {

  .mainSite {
    & .list {
      &__item {
        flex-direction: column;
      }

      &__info {
        margin-right: 0px;
        margin-bottom: 24px;
        min-width: auto;
      }
      &__desc {
        font-size: 16px;
      }

      &__thumb {
        width: 90vw;
      }
    }
  }

  .pin-wrap {
    min-height: auto;
  }
}